.program-container {
    background-color: white;
}
.execute-btn {
    margin-left: 2em;
}
.btn-container {
    position: relative;
    display: block ;
}
.container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    .left {
        background-color: pink;
    }

    .right {
        background-color: green;
    }
}
.cell {
    text-align: center;
}
.initial {
    display: flex ;
    flex-wrap: wrap;
    justify-content: center ;
    flex-direction: row;
    display: flex;
    align-content: space-around;
    justify-content: space-between;

    input {
        width: 3em;
    }

    .initialListElement {
        width: 4em;;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 0.5em;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: space-between;
        border-color: lightgrey;
        border: 1px solid #ccc!important;
        label {
            text-align: center;
        }
        input {
            width: 100%;;
        }
        .radio-options {
            width: 1em;
        }
    }

    .ascDescListElement {
        width: 4em;;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 0.5em;
        display: flex;
        flex-direction: row;

        &__label {
            flex-direction: column;
            
        }
        &__arrows {
            flex-direction: column;
        }
    }
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .foot {
      position:absolute;
      bottom:2em;
  }

  .commandSwitch {
      position: absolute;
      top:1em !important;

      .switchContent {
          margin-left: 1em;
      }
  }
  mat-radio-button {
      margin-left: 1em;;
  }